<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~
  ~ Copyright 2017-2018 549477611@qq.com(xiaoyu)
  ~
  ~ This copyrighted material is made available to anyone wishing to use, modify,
  ~ copy, or redistribute it subject to the terms and conditions of the GNU
  ~ Lesser General Public License, as published by the Free Software Foundation.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
  ~ or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Lesser General Public License
  ~ for more details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public License
  ~ along with this distribution; if not, see <http://www.gnu.org/licenses/>.
  ~
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:application name="demo-dubbo-provider">
        <!--从2.6.4/2.7.0开始，qosAcceptForeignIp默认配置改为false（拒绝远端主机发出的命令，只允许服务本机执行），如果qosAcceptForeignIp设置为true，有可能带来安全风险，请仔细评估后再打开。-->
        <!--<dubbo:parameter key="qos.enable" value="@qos.enable@"/>
        <dubbo:parameter key="qos.accept.foreign.ip" value="@qos.accept.foreign.ip@"/>
        <dubbo:parameter key="qos.port" value="@qos.port@"/>-->
    </dubbo:application>

    <!--<dubbo:registry protocol="multicast" address="224.8.8.8:1234?unicast=false"/>-->
    <dubbo:registry protocol="zookeeper" address="127.0.0.1:2181"/>

    <dubbo:protocol accesslog="true" name="dubbo" port="20890"/>
    <dubbo:provider threads="200" timeout="8000" retries="0"/>
    <bean id="callbackService" class="org.example.dubbo.provider.service.CallbackServiceImpl" />
    <dubbo:service interface="org.example.dubbo.common.service.CallbackService" ref="callbackService" connections="1" callbacks="1000">
        <dubbo:method name="addListener">
            <dubbo:argument index="1" callback="true" />
            <!--也可以通过指定类型的方式-->
            <!--<dubbo:argument type="com.demo.CallbackListener" callback="true" />-->
        </dubbo:method>
    </dubbo:service>
</beans>